img {
    width: 450px;
}
header {
    Background-color: rgb(142, 223, 255);
    width: 700px;
    border: 10px solid rgb(237, 254, 130);
    Padding: 10px;
    
}

body {
    Background-color: rgb(224, 255, 248)
    }

nav { border: 2px solid rgb(129, 161, 255);
        width:160px;
        Height:50px;
       
    }
main p { border: 6px solid yellow}

h3 { display: inline-block;
     width: 30%;
}