img {
    width: 450px;
    }
header {
    Background-color: rgb(142, 223, 255);
    width: 700px;
    border: 10px solid rgb(237, 254, 130);
    Padding: 10px;
    
    }

body {
    Background-color: rgb(224, 255, 248)
    }

nav { border: 2px solid rgb(129, 161, 255);
        width:160px;
        Height:50px;
       
    }

section { display: inline-block;
        width: 20%;
        background-color: rgb(205, 232, 255);
        border: 2px ;
    }